<h1>Friends</h1>

<div class='search-area'>
  <h3>Search Friends</h3>
 </div>

<%= search_form_for @q,remote: true, url: my_friends_path, class: "form-group" do |f| %>
  <div class="form-group row">
    <div class="col-sm-9">
      <%= f.search_field :first_name_or_last_name_or_email_cont, class: "form-control" %>
    </div>
    <div class="col-sm-3">
      <%= f.submit %>
    </div>
  </div>
<% end %>

<div id="friend-results"></div> 

<%= render "friends/list", friends: @friends %>
