@import 'bootstrap/dist/css/bootstrap';
.search-area{
  padding-top: 50px;
}
.search_icon{
  margin-left: -26px;
  border-radius: 7px;
}
.results-block{
  display: inline-block ;
  margin-bottom: 10px;
}
.logout-button{
  margin-right: 10px;
}
.user-name {
  margin-top: 3.5%;
  padding-right: 5px;
} 